.main-section-company-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    margin: 9em 6em;
}

.section-company-info-text {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 100%;
}

.section-company-info-text-h1 {
    font-size: 42px;
    margin-bottom: 2rem;
    color: #788d58;
}

.section-company-info-text-description {
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-size: 16px;
}

.section-company-info-text-properties {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.section-company-info-text-property {
    flex-grow: 1;
    position: relative;
    padding-left: 0.5rem;
}

.section-company-info-text-property:not(:nth-child(2)) {
    border-top: 1px solid #9D9B9B;
    border-bottom: 1px solid #9D9B9B;
}

.section-company-info-text-property:hover {
    background-color: #e0e0e0;
}

.section-company-info-text-property-p {
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translate(0, -50%);
    font-weight: 700;
}

.section-company-info-image {
    width: 55%;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.section-company-info-image-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.section-company-info-image-item {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
