.main-section-faq {
    min-height: 100vh;
    padding: 6em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-faq-text {
    text-align: center;
}

.main-section-faq-text-h2 {
    margin-bottom: 2rem;
    color: #788d58;
    font-size: 34px; 
}

.main-section-faq-text-p {
    margin-bottom: 5rem;
    line-height: 1.5rem;
    font-size: 18px;
    padding-left: 20%;
    padding-right: 20%;
}

.main-section-faq-items {
    width: 65%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.main-section-faq-item {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6em;
    padding: 0 0.5rem;
    flex-wrap: wrap;
    transition: height ease-in-out 0.5s;
}

.main-section-faq-item:hover {
    background-color: #e0e0e0;
}

.main-section-faq-item:not(:nth-child(even)) {
    border-top: 1px solid #9D9B9B;
    border-bottom: 1px solid #9D9B9B;
}

.main-section-faq-item:last-child {
    border-bottom: 1px solid #9D9B9B;
}

.expand {
    height: 12em; 
    transition: height ease-in-out 0.8s;
}

.answer {
    width: 100%;
}

.main-section-faq-item-p {
    font-size: 18px;
    font-weight: 500;
}

.main-section-faq-item-more img {
    width: 40px;
    height: 40px;
}

.main-section-faq-item-more img:hover {
    cursor: pointer; 
}
